<a href="https://colab.research.google.com/github/Anna-Hop-Op/EscapeEarth/blob/main/Interns/Anna-Claire/DownloadData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/gdrive')

In [ ]:
import pandas as pd
!pip install lightkurve
import lightkurve as lk

In [8]:
data_1 = pd.read_csv('/content/gdrive/My Drive/EscapeEarthData/all_targets_S014_v1.csv', skiprows = 5)

In [9]:
data_1.head()

     TICID   Camera   CCD   Tmag        RA      Dec
0  7582594        2     3   8.57  272.3966  45.8308
1  7582633        2     3   9.92  272.3288  45.9244
2  7582634        2     3  10.48  272.3307  45.9255
3  7583285        2     2  11.30  272.3711  47.2259
4  7584049        2     2   8.50  272.5282  47.0887

In [12]:
first = data_1["TICID"].head()

In [13]:
for i in first:
  print(i)

7582594
7582633
7582634
7583285
7584049

In [14]:
lc = lk.search_lightcurvefile("TIC 7582594", sector = 14)

In [15]:
print(lc)

SearchResult containing 1 data products.

 #   observation   target_name                     productFilename                     distance
--- -------------- ----------- ------------------------------------------------------- --------
  0 TESS Sector 14     7582594 tess2019198215352-s0014-0000000007582594-0150-s_lc.fits      0.0

In [16]:
lc = lk.search_lightcurvefile("TIC" + id , sector =).download()

SyntaxError: ignored

In [17]:
for i in first2:
  lc2 = lk.search_lightcurvefile('TIC {}'.format(i), sector = 14).download()
  lc3 = lc2.PDCSAP_FLUX
  print(lc3)

NameError: ignored